/* CSS Document */
/* CSS Document */
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
h1,h2,h3,h4{font-size:12px;}
h5{font-size:12px;}
h6{font-size:12px; font-weight:normal;}
ul,li {list-style:none;}
a{color:#3B3839; font-size:13px; text-decoration:none;}
a:hover{color:#000000;}
img {border:none;}
div{margin:0px auto;}
body{margin:0; padding:0; font-size:12px; color:#707070; position:relative; font-family:"Î¢ÈíÑÅºÚ";}
/*top*/
.top{width:100%; height:65px;background:url(../images/topxian.jpg); margin:0 auto;}
.top1{width:1200px; height:65px; margin:0 auto; overflow:hidden;}
.top1img1{margin-left:129px; float:left; margin-top:3px;}
.top1img2{margin-left:18px; margin-top:27px;}
.you{float:right; margin-right:100px;}
.you a{text-decoration:underline;}
.you p{color:#000000; font-size:16px; line-height:65px; font-family:"ËÎÌå"; float:left;}
.you img{margin-top:22px; margin-left:14px;}
.you span{color:#000000; font-size:16px; line-height:65px; font-family:"ËÎÌå";}
.shangchuan{width:1000px; margin:0 auto; margin-top:60px; color:#000000; font-size:18px;}
.dashiz{margin:0 auto; width:1000px; overflow:hidden; margin-top:10px;}
.shida{font-size:18px; color:#000000; width:890px; margin:0 auto; margin-top:20px;}
.shida1{font-size:18px; color:#000000; width:890px; margin:0 auto; margin-top:10px;}
.shidaxia{color:#333; font-size:14px; width:890px; margin:0 auto; margin-top:20px; font-family:"ËÎÌå";}
.shiz{background:#ffffff; border:#c6c6c6 1px solid; width:998px; float:left;}
.shizp{color:#666666; font-size:14px; width:890px; margin:0 auto; margin-top:10px; font-family:"ËÎÌå"; line-height:25px;}
.shiti1{border:#c6c6c6 1px solid; width:998px; width:1000px; overflow:hidden; margin-top:10px;}
.shiti1 p{color:#333; font-size:18px; width:890px; margin:0 auto; margin-top:20px;}

.demo{width:1000px; margin:60px auto 0 auto; min-height:80px;}
.preview{width:200px; border:solid 1px #dedede; margin:10px; padding:10px;}
.demo p{line-height:26px}
.btn{position:relative; overflow: hidden; margin-right: 4px; display:inline-block; *display:inline; padding:4px 10px 4px; font-size:22px; line-height:18px; *line-height:63px; color:#000; text-align:center; vertical-align:middle; cursor:pointer; background-color:#f9f5f6; border:1px solid #e1ddde; -webkit-border-radius:4px;-moz-border-radius:4px; border-radius:4px; width:208px; height:63px; float:left; line-height:63px;}

.btn input {position: absolute;top: 0; right: 0;margin: 0;border: solid transparent;opacity: 0;filter:alpha(opacity=0); cursor: pointer;}
.daan{width:1000px; overflow:hidden;}
.daan li{background:url(../images/fu2.jpg); width:40px; height:25px; float:left; font-size:14px; color:#555555; line-height:25px; text-align:center;}















.zuihou{width:1200px; margin:0 auto; margin-top:40px;}
.zuihou p{font-size:9px; color:#999; margin-left:115px; float:left;}
.zuihou span{font-size:9px; color:#999; float:right; margin-right:115px;}