<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>已购视频</title>
		<link href="../css/index.css" type="text/css" rel="stylesheet" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" type="text/css" href="../css/pageGroup.css" />

		<style>
			.ul_li li {
				margin-top: 20px;
			}
		</style>
	</head>

	<body>
		<script type="text/javascript" src="../res/jslib/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="../res/jslib/sui.min.js"></script>
		<script type='text/javascript' src='../res/jslib/artTemplate/template.js' charset='utf-8'></script>
		<div class="top" id="page">
			<!--top-->
			<div class="top1">
				<div style="float:left;">
					<a href="../index/index.html"><img class="top1img1" src="../images/logo.png" /></a>
					<img class="top1img2" src="../images/wodeyi.png" /></div>
				<div class="you">
					<!--you-->

				</div>
				<!--you-->
			</div>
		</div>
		<!--top-->
<div style="position:relative;top:65px;">
		<div class="zhongjian">
			<div class="liebiao">
				<!--开始-->
				<p class="lip">我的一讲堂</p>
				<div class="gerenzhong">
					<p>个人中心</p>
					<ul>
						<li style="color:#0173ba; margin-top:20px;"><img src="../images/yi.jpg" /><b class="gerenzhongb">我的课程</b></li>
						<li><img src="../images/yi3.jpg" /><a href="myzhibo.html">课程回放</a></li>
						<li><img src="../images/yi2.jpg" /><a href="huancunshipin.html">已学课程</a></li>
						<li><img src="../images/yi1.jpg" /><a href="lianxizhongxin.html">作业批改</a></li>

					</ul>
					<p style="margin-top:20px;">用户中心</p>
					<ul>
						<li><img src="../images/yi4.jpg" /><a href="yonghuxinxi.html">用户信息</a></li>
						<li><img src="../images/yi5.jpg" /><a href="wodedaijinquan.html">资金管理</a></li>
						<li><img src="../images/yi6.jpg" /><a href="jingdianshoucang.html">收藏中心</a></li>
					</ul>
				</div>
			</div>
			<!--结束-->
			<div class="youbian" id="yigoushi_pin">
				<!--右边-->

			</div>
			<!--右边-->
		</div>

		<!--bottom-->
		</div>
		<div class="zuihou">

		</div>
		<script type="text/html" id="yigoushiPin">
			<div class="shipin">我的课程</div>

			<ul class="ul_li" style="margin-top: 0px;">
				{{if total>0}} {{each list.data.data as shipin i}}
				<li>
					<a href="mykechengxiangqing.html?id={{shipin.videoid}}"><img style="width: 267px; height: 185px;" src="{{files}}{{shipin.coursethumb}}" /></a>
					<div class="wen">
						<p>{{shipin.coursename}}</p>
						<ul>主讲老师：<span>{{shipin.courseusername}}</span></ul>
						<ul>适用人群：<span>公务员</span></ul>
						<!--<ul>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;课时：<span>5课时</span></ul>-->
						<ul>购买人数：<span><span id="by{{i}}"></span>{{i}}人已购买</span>
						</ul>
					</div>
					<div class="wenb"><b>￥{{shipin.courseprice}}</b>
						<a href="mykechengxiangqing.html?id={{shipin.videoid}}">
							<div class="wenbspan">查看详情</div>
						</a>
							<a onclick="yigoushipin.fn.jilu({{shipin.videoid}})" href="swfplayer.html?v={{shipin.remoteurl}}" target="_blank">
							<div class="wenbp1">观看</div>
						</a>
						</a>
						</a>
					</div>
					<div style="width:100px; height:6px;"></div>
				</li>
				{{/each}} {{else}}
				<div style="  text-align:center; padding:50px;">
					<a href="../shipinkecheng/shipinkecheng.html">
						<image src="../images/free.jpg" style="border:1px solid #FFFFFF,display:block; margin:0 auto;"></image>
					</a>
				</div>
				{{/if}}
			</ul>

			{{if total>0}}
			<div style="width:1000px; margin:0 auto;">
				<!--分页开始-->
				<div id="pageGro" class="cb">
					{{if list.data.current_page==1}}
					<div class="pageUp" style="cursor:not-allowed;">上一页</div>
					{{else}}
					<div class="pageUp" onclick="one({{list.data.current_page-1}})">上一页</div>
					{{/if}}
					<div class="pageList" style="margin-top: 0px;">
						<ul>
							<li onclick='one(1)' class="on">1</li>
						</ul>
					</div>
					{{if list.data.last_page==list.data.current_page}}
					<div class="pageDown" style="cursor:not-allowed">下一页</div>
					{{else}}
					<div class="pageDown" onclick="one({{list.data.current_page+1}})">下一页</div>
					{{/if}}
				</div>
			</div>
			{{/if}}

		</script>
		<script type="text/javascript" src="../res/js/config.js"></script>
		<script type="text/javascript" src="js/yigoushipin.js"></script>
		<script type="text/javascript" src="../res/js/quit.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script type="text/javascript" src="../res/js/pageGroup.js"></script>
		<script type="text/javascript">
			function one(no) {
				yigoushipin.fn.shipinList(no);
			}
		</script>
</div>	</body>

</html>