<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>多选题</title>
		<link href="../css/index.css" type="text/css" rel="stylesheet" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script type="text/javascript" src="../js/jquery-1.4.2.js"></script>
		<script src="../js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="../js/jquery_cmhello.js"></script>
		<!--导航-->
		<style>
			.questionselect {
				margin-left: 100px;
				width: 600px;
			}
			
			.questionselect p {
				font-size: 16px;
				margin: 5px 0px;
				margin-left: 96px;
				float: left;
			}
		</style>
	</head>

	<body>
		<script type="text/javascript" src="../res/jslib/sui.min.js"></script>
		<script type='text/javascript' src='../res/jslib/artTemplate/template.js' charset='utf-8'></script>
		<div class="top">
			<!--top-->
			<div class="top1">
				<div style="float:left;">
					<a href="../index/index.html">	<img class="top1img1" src="../images/logo.png" /></a>
					<img class="top1img2" src="../images/logo4.png" /></div>
				<div class="you">
					<!--you-->

				</div>
				<!--you-->
			</div>
		</div>
		<!--top-->
		<div style="position:relative;top:65px;">
		<div class="da1">
			<!--大-->
			<div class="daohang">
				<a href="#">
					<div class="xia1"><img src="../images/biao.jpg" />
						<p id="showtime">已用时 &nbsp;00:00</p>
					</div>
				</a>
				<a href="#">
					<div class="xia2"><img src="../images/biao1.jpg" />
						<p>收藏本卷</p>
					</div>
				</a>
				<a onclick="duoxuanti.fn.papers()">
					<div class="xia3" style="border-right: 0px;"><img src="../images/biao2.jpg" />
						<p>我要交卷</p>
					</div>
				</a>
				<!--<a href="#">
					<div class="xia4"><img src="../images/biao3.jpg" />
						<p>下载本卷</p>
					</div>
				</a>-->
			</div>
			<img style="margin-top:12px;" src="../images/you.jpg" />
			<div class="daohangxia"></div>
		</div>
		<!--大-->

		<div class="timu">
			<p>一、多选题（下列各题所给选项中有两个或两个以上符合题意的正确答案，少答、不答或多答均不得分。共3题，40 分）</p>
		</div>
		<div class="dashi" style="margin-top:15px;" id="duo_xuan">
			<!--狂-->
			<!--内容填充-->
		</div>
		<!--狂-->
		<div style="width:1000px; margin:0 auto;">
			<div class="navmenu" style="margin-top:-53px;">
				<ul class="menu">
					<li>
						<a><img style="padding-top:7px;" src="../images/fe.jpg" /></a>

						<ul style="display: none; margin-left:-20px;">

							<li style="width:150px; height:152px; background:#ffffff; border:#999999 1px solid;">
								<div class="wei">
									<a onclick="share('wx')">
										<div style="margin-left:5px; float:left;">
											<p><img src="../images/f.jpg" />
												<p>微信</p>
											</p>
										</div>
									</a>
									<a onclick="share('bd')">
										<div style="margin-left:10px; float:left;">
											<p><img src="../images/f1.jpg" />
												<p>百度</p>
											</p>
										</div>
									</a>
									<a onclick="share('kj')">
										<div style="margin-left:10px; float:left;">
											<p><img src="../images/f2.jpg" />
												<p>空间</p>
											</p>
										</div>
									</a>
								</div>
								<div class="wei">
									<a onclick="share('xl')">
										<div style="float:left;">
											<p><img src="../images/f3.jpg" />
												<p>新浪</p>
											</p>
										</div>
									</a>
									<a onclick="share('qq')">
										<div style="margin-left:10px; float:left;">
											<p><img src="../images/f4.jpg" />
												<p>QQ</p>
											</p>
										</div>
									</a>
									<a onclick="share('rr')">
										<div style="margin-left:10px; float:left;">
											<p><img src="../images/f5.jpg" />
												<p>人人</p>
											</p>
										</div>
									</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="theme-buy">
			<a class="btn-primary btn-large theme-login woya" href="javascript:;"></a>
		</div>
		<div class="theme-popover">
			<div class="theme-popbod dform">
				<ol>
					<p class="zaida">再答十题即可获得<span style="color:#a00a2e; font-size:24px;">20元代金券</span></p>
					<div style="width:269px; margin:0 auto; overflow:hidden; margin-top:10px;">
						<a class="zaida1" onclick="duoxuanti.fn.carry_over()">继续答题</a>
						<a class="zaida2" href="fenxibaogao.html">强制交卷</a></div>
				</ol>
			</div>
		</div>
		<div class="theme-popover-mask"></div>

		<div class="zuihou">

		</div>
		<script type="text/html" id="duoXuan">
			<div class="shi1">
				<p id="title">{{shu}}、{{question}}</p>
			</div>
			<div class="shiti1">
				<div class="questionselect">
					{{#questionselect}}
				</div>
				<!--<div class="shiti2">
					<p>A.播下良种在先，粮食丰收在后</p>
					<p style="float:right; margin-left:90px;">B.适度灌溉在先，粮食丰收在后</p>
				</div>
				<div class="shiti2">
					<p>C.治理施肥在先，粮食丰收在后</p>
					<p style="float:right; margin-left:90px;">D.看见闪电在先，听到雷声在后</p>
				</div>-->
				<div class="wrapper4" style="clear: both;">
					<div>
						<ul id="dan_one">
						<li onclick="dan(this)" style="margin-left:10px;" value="A"><a>A</a></li>
						<li onclick="dan(this)" value='B'><a>B</a></li>
						<li onclick="dan(this)" value='C'><a>C</a></li>
						<li onclick="dan(this)" value='D'><a>D</a></li>
					</ul>
					</div>
					<!--<div class="imageContainer4" onclick="change_one(this)">
						<img id="A" style="padding-top:7px;" src="../images/duo.jpg" />
						<img style="padding-top:7px;" src="../images/duo1.jpg" />
						<ul>
							<li style="margin-left:10px;"><a>A</a></li>
						</ul>
					</div>
					<div class="imageContainer4" onclick="change_one(this)">
						<img id="B" style="padding-top:7px;" src="../images/duo2.jpg" />
						<img style="padding-top:7px;" src="../images/duo3.jpg" />
						<ul>
							<li><a>B</a></li>
						</ul>
					</div>
					<div class="imageContainer4" onclick="change_one(this)">
						<img id="C" style="padding-top:7px;" src="../images/duo4.jpg" />
						<img style="padding-top:7px;" src="../images/duo5.jpg" />
						<ul>
							<li><a>C</a></li>
						</ul>
					</div>
					<div class="imageContainer4" onclick="change_one(this)">
						<img id="D" style="padding-top:7px;" src="../images/duo6.jpg" />
						<img style="padding-top:7px;" src="../images/duo7.jpg" />
						<ul>
							<li><a>D</a></li>
						</ul>
					</div>-->
					<div class="fenxiang">
						{{if shu==0}}
						<a class="fenxianga1" style="margin-left:15px;cursor:not-allowed;"><img src="../images/quanzhen11.jpg" /></a>
						{{else}}
						<a onclick="duoxuanti.fn.one_more({{shu}},{{id}})" class="fenxianga1" style="margin-left:15px;"><img src="../images/quanzhen11.jpg" /></a>
						{{/if}} {{if shu==29}}
						<a style="cursor:not-allowed;"><img src="../images/quanzhen10.jpg" /></a>
						{{else}}
						<a onclick="duoxuanti.fn.next({{shu}},{{id}})"><img src="../images/quanzhen10.jpg" /></a>
						{{/if}}
						<div class="wrapper5">

							<div class="imageContainer5" onclick="change_one(this)">
								<img style="padding-top:7px;" src="../images/quanzhe6.jpg" />
								<img style="padding-top:7px;" src="../images/quanzhen6.jpg" />
							</div>
						</div>
					</div>
				</div>

				<!--分享-->
			</div>
			<div><img src="../images/quanzhen3.jpg" /></div>
		</script>
		<script type="text/javascript" src="../res/js/config.js"></script>
		<script type="text/javascript" src="js/duoxuan.js"></script>
		<script type="text/javascript" src="../res/js/showtime.js"></script>
		<script type="text/javascript" src="../res/js/quit.js"></script>
		<script type="text/javascript" src="../common.js"></script>
		<script type="text/javascript" src="../res/js/collection.js"></script>
		<script type="text/javascript" src="../res/js/share.js"></script>
</div>	
</body>

</html>